name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master
    # Review gh actions docs if you want to further restrict triggers and avoid extra builds
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Docusaurus site to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build website
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output directory for Docusaurus
          publish_dir: ./build
          # The following lines assign to the action's `publish_branch` input the value
          # of the branch from which the workflow was triggered
          publish_branch: gh-pages
          cname: false
